
  <section class="design-section">
    <div class="timeline">
      <div class="timeline-empty"></div>

      <div class="timeline-middle">
          <div class="timeline-circle"></div>
      </div>

      <div class="timeline-component timeline-content">
        <h3>Slalom</h3>
        <p>Jul. 2022 - Current</p>
        <p>Technology Enablement Consultant</p>
        <p>
          As a Technology Enablement Consultant at Slalom, I engaged with numerous medium to large-sized organizations, delivering tailored solutions that addressed their unique needs.
          My work spanned a wide array of technologies, including .NET Core, React, Blazor, Sitecore, Handlebars, Azure, and AWS. Notably, I achieved my Azure Developer Associate Certification during my time
          at Slalom, demonstrating my commitment to enhancing my expertise in cloud technologies and further equipping me to provide top-notch consultancy services to clients.
        </p>
      </div>

      <div class="timeline-component timeline-content">
          <h3>PrizeLogic/Ebbo</h3>
          <p>Jun. 2021 - Jul. 2022</p>
          <p>Full-Stack Developer</p>
          <p>
            While working as a full-stack developer at PrizeLogic, I played a role in constructing a web-based CMS utilizing React, Redux, and TypeScript for the T-Mobile Tuesdays platform.
            My responsibilities extended to the creation and upkeep of RESTful API endpoints with .NET Core 3, and I managed various Azure resources including App Service, CosmosDB, Application Insights,
            Blob, and Table Storage. Collaborating directly with the client to deliver a high-quality product, I was an integral part of a 12-member development team that operated within an agile workflow,
            ensuring efficient project execution and client satisfaction.
          </p>
      </div>

      <div class="timeline-middle">
          <div class="timeline-circle"></div>
      </div>

      <div class="timeline-empty"></div>

      <div class="timeline-empty"></div>

      <div class="timeline-middle">
          <div class="timeline-circle"></div>
      </div>

      <div class=" timeline-component timeline-content">
        <h3>Bulwark Pest Control</h3>
        <p>Feb. 2018 - Jun. 2021</p>
        <p>Full-Stack Developer</p>
        <p>
          During my time at Bulwark, I served as a versatile leader responsible for UI/UX design and development of our proprietary Angular application. I efficiently managed and updated backend API endpoints and business logic using C# .NET 4.7 and .NET Core, ensuring their reliability. Additionally, I maintained and enhanced MSSQL databases by creating and updating tables and stored procedures. Operating within an agile framework, I played a pivotal role in code reviews with our overseas team and established robust unit testing practices. Furthermore, I oversaw deployments on both on-premises and cloud servers, contributing to the seamless operation of our systems and the overall success of the company's projects.
        </p>
      </div>

      <div class="timeline-empty"></div>
      <div class="timeline-empty"></div>

      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>

      <div class="timeline-component timeline-content">
        <h3>Galvanize Web Development Imersive Program</h3>
          <p>Aug. 2017 - Feb. 2018</p>
          <p>Student</p>
          <p>
            While attending Galvanize, a specialized trade school for web development, I acquired a comprehensive skill set in web technologies such as HTML, CSS, JavaScript,
            Node.js, Express.js, EJS (Embedded JavaScript), React, Redux, and gained a basic foundation in computer science concepts. One of the highlights of my time there was
            the successful completion of my capstone project using Angular, in collaboration with Bulwark, where I developed and implemented new functionality for their systems.
            This achievement not only showcased my technical prowess but also directly led to my employment with Bulwark.
          </p>
      </div>

      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>

    </div>
</section>



