<div class="page--start">

  <div class="info">
    <img src="../../../assets/Headshotcircle.png" alt="darrell couch">
    <p class="info-title">Full-Stack Developer</p>
    <span class="info-email">darrell@darrellncouch.com</span>
  </div>

  <div class="bio">
    <p>
      I am a seasoned Front-End Developer with a wealth of experience spanning six years in the industry. Throughout my career,
      I've had the privilege of collaborating with numerous medium to large organizations, contributing my expertise to the
      creation of customized web solutions that redefine user experiences.
    </p>

    <p>
      One of the standout achievements in my career was my involvement with T-Mobile, where I played a pivotal role in the
      development of the T-Mobile Tuesdays platform. In this capacity, I aided in the creation of a content management
      system (CMS) that reshaped how content and layouts were managed for the app. This initiative not only streamlined
      the content creation process but also significantly improved the overall user engagement on the platform.
    </p>

    <p>
      In addition to my work at T-Mobile, I also made contributions to Pulte Homes as a consultant. My efforts were focused on enhancing
      their online home buying process. By leveraging my front-end development skills, I helped modernize and optimize their digital
      platform, providing potential homebuyers with a more intuitive and user-friendly experience. This project underscored my
      commitment to delivering practical and innovative solutions for clients.
    </p>

    <p>
      With my extensive background in Front-End Development, I am poised to continue making a positive impact in the web
      development landscape. My passion for creating seamless and visually compelling user interfaces drives me to stay at the
      forefront of industry trends and technologies. I am dedicated to collaborating with forward-thinking organizations to
      transform their digital presence and elevate user engagement to new heights.
    </p>
  </div>

  <img class="cert" src="https://images.credly.com/size/680x680/images/63316b60-f62d-4e51-aacc-c23cb850089c/azure-developer-associate-600x600.png">
</div>

